---
layout: default
---
<section class="column_block">
    <img src="{{ site.url }}/images/portrait_2018.jpg" alt="Portrait Photo", width="200px"/>
    <ul>
        <li>Lyndon White, PhD
        <li><i>Research Software Engineer</i>
	<li><a href="https://www.invenia.ca/labs/">Invenia Labs</a>
	<li> Cambridge (UK)
    </ul>

</section>

<div class="column_block_wide">
    <section>
	I am a research software engineer at Invenia Labs (Cambridge, UK).
	I help researchers use machine learning, constrained optimization, and generally tools from the technical computing domain to optimize the power grid.
	I get to do all the best parts of being a software developer and all the best parts of being a researcher, its great.
	I am a long-term contributor to the open-source JuliaLang ecosystem.
	I am passionate about building the tools to do research better.
	<br>
	I officially completed my PhD on natural language processing (NLP) via machine learning (ML) at the University of Western Autralia in 2019; supervised by 
	<a href="http://staffhome.ecm.uwa.edu.au/~00014742/"> Prof Roberto Togneri</a>,
        <a href="http://staffhome.ecm.uwa.edu.au/~00051693/"> Dr Wei Liu</a> and 
        <a href="http://staffhome.ecm.uwa.edu.au/~00051632/"> W/Prof Mohammed Bennamoun</a>.
    </section>


    <section id="publications">
        <ul>
        {% for pub in site.data.publications %}
        <li>{{pub.year}}: {{pub.title}}, {{pub.author}}.<br/> {{pub.venue}} 
	    {% if pub.award %} <em> {{pub.award}} </em> {% endif %}
            <br/> <span>
                [
                {% if pub.key %}
                    <a href="{{site.url}}/publications/{{pub.key}}.pdf">pdf</a>,
                    <a href="{{site.url}}/publications/{{pub.key}}.bib">bib</a>,
                {% endif %}
                {% if pub.link %}
                    <a href="{{pub.link}}">link</a>,
                {% endif %}
                {% if pub.supl %}
                    <a href="{{site.url}}/{{pub.supl}}">site</a>,
                {% endif %}
                ]
             </span>
        
        {% endfor %}
        </ul>
    </section>
</div>
