---
layout: default
---
<section class="column_block">
    <img src="{{ site.url }}/images/portrait_2022.jpg" alt="Portrait Photo", width="200px"/>
    <ul>
        <li>Frames Catherine White, PhD
        <li><em>she/her/hers</em>
        <li> 🏳️‍⚧️ 🏳️‍🌈
    </ul>
    <ul>
    <li><em>Research Software Engineering Group Lead</em>
        <li><a href="https://www.invenia.ca/labs/">Invenia Labs</a>
        <li> Cambridge (UK)
    </ul>
    
    <ul>
    <li><a href="https://github.com/oxinabox"><i class="fab fa-github"></i>GitHub</a></li>
    <li><a href="https://twitter.com/oxinabox_frames"><i class="fab fa-twitter"></i>Twitter</a></li>
    </ul>
</section>

<div class="column_block_wide">
    <section>
	I lead the research software engineering team at Invenia Labs (Cambridge, UK).
	We help researchers use machine learning, constrained optimization, and generally tools from the technical computing domain to optimize the power grid.
	I am a long-term contributor to the open-source JuliaLang ecosystem.
	I am passionate about building the tools to do research better.
    My current particular interest is automatic differentiation
    <br>
	I officially completed my PhD on natural language processing (NLP) via machine learning (ML) at the University of Western Australia in 2019; supervised by 
    <a href="http://staffhome.ecm.uwa.edu.au/~00014742/"> Prof Roberto Togneri</a>,
    <a href="http://staffhome.ecm.uwa.edu.au/~00051693/"> Dr Wei Liu</a> and 
    <a href="http://staffhome.ecm.uwa.edu.au/~00051632/"> W/Prof Mohammed Bennamoun</a>.
    <br>
    Note that up until 2022, I was publishing under the pen-name Lyndon White.
    A lot of things are still online under that name.
    </section>


    <section id="publications">
        <ul>
        {% for pub in site.data.publications %}
        <li>{{pub.year}}: {{pub.title}}, {{pub.author}}.<br/> {{pub.venue}} 
	    {% if pub.award %} <em> {{pub.award}} </em> {% endif %}
            <br/> <span>
                [
                {% if pub.key %}
                    <a href="{{site.url}}/publications/{{pub.key}}.pdf">pdf</a>,
                    <a href="{{site.url}}/publications/{{pub.key}}.bib">bib</a>,
                {% endif %}
                {% if pub.link %}
                    <a href="{{pub.link}}">link</a>,
                {% endif %}
                {% if pub.supl %}
                    <a href="{{site.url}}/{{pub.supl}}">site</a>,
                {% endif %}
                ]
             </span>
        
        {% endfor %}
        </ul>
    </section>
</div>
