<!DOCTYPE html>
<html>
  <head>
	<title> {% if page.title %} {{ page.title }} {% endif %} </title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-dark.css">
    <link rel="stylesheet" href="/stylesheets/monokai.css">

	{% feed_meta %}
	<link rel="alternate" type="application/rss+xml" title="Frames White - A Technical Blog RSS" href="/rssfeed.xml">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/javascripts/respond.js"></script>
  <script src="/javascripts/tableofcontents.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		TeX: {
		  equationNumbers: {
			autoNumber: "AMS"
		  }
		},
		tex2jax: {
		  inlineMath: [ ['$','$'] ],
		  displayMath: [ ['$$','$$'] ],
		  processEscapes: true,
		}

	  });
	</script>
	<script type="text/javascript" async
                        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
  <script src="https://use.fontawesome.com/3e29332569.js"></script>
  </head>

  <body>
    <header>
      <div id="header">
	{% include nav.html nav=site.data.menu %}
      </div>
    </header>

    <div id="title">
       {% if page.title %}<h1> {{ page.title }}</h1>{% endif %}
	   {% if page.subtitle %}<h1> {{ page.subtitle }}</h1>{% endif %}
    </div>
    <div id="main_content">
      {{ content }}
    </div>


    <footer>
      This page is maintained by <a href="https://github.com/oxinabox">Lyndon White (aka oxinabox)</a>.
      Page theme based on Midnight theme by <a href="https://github.com/mattgraham">Matt Graham</a>.
    </footer>

    {% include analytics.html %}

  </body>
</html>
